.git/
.vs/

Binaries/

DerivedDataCache/
Intermediate/
Saved/

.vsconfig
*.sln

// PJS
Content/PJS/Zombie_W/Textures/Skin_3_Humanoid/T_Zombie_Woman_bottom_v3_Dirt_n_DirectX.uasset
Content/PJS/Zombie_W/Textures/Skin_3_Humanoid/T_Zombie_Woman_bottom_v3_n_DirectX.uasset
Content/PJS/Zombie_W/Textures/Skin_3_Humanoid/T_Zombie_Woman_Cloth_v3_Dirt_n_DirectX.uasset
Content/PJS/Zombie_W/Textures/Skin_3_Humanoid/T_Zombie_Woman_Cloth_v3_n_DirectX.uasset

// LSJ